body {

  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;

}

form {

  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;

}

input,
button {

  width: 100%;
  padding: 10px;
  margin-top: 10px;

}

button {

  background: blue;
  color: white;
  border: none;
  cursor: pointer;

}

a {

  text-decoration: none;
  color: blue;

}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}